<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Statistics</title>
    <link rel="stylesheet" href="/assets/css/styles.css" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div th:replace="~{header :: header}">...</div>

<section id="profile">
    <div class="container">
        <h2 class="site-h2">Admin Statistics</h2>
        <a th:href="@{dashboard}" class="back-button">Go Back</a>
        <div th:each="entry : ${trainerClientsMap}" class="trainer-section">
            <h3 th:text="${entry.key.trainerFirstName + ' ' + entry.key.trainerLastName + ': '}"></h3>
            <table>
                <thead>
                <tr>
                    <th>Card Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Last Payment Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${entry.value}">
                    <td th:text="${client.cardNumber}"></td>
                    <td th:text="${client.firstName}"></td>
                    <td th:text="${client.lastName}"></td>
                    <td th:text="${client.phoneNum}"></td>
                    <td th:text="${client.lastPaymentDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}">...</div>

<script src="/assets/js/link-script.js"></script>

</body>
</html>
