<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/css/styles.css" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div th:replace="~{header :: header}">...</div>

<section id="profile">
    <div class="container">
        <h2 class="site-h2">Dashboard</h2>
        <div class="messages">
            <ul>
                <li th:if="${successMessage != null}" class="success" th:text="${successMessage}"></li>
                <li th:if="${errorMessage != null}" class="success" th:text="${errorMessage}"></li>
            </ul>
        </div>
        <div class="profile-section">
            <h3>Statistics:</h3>
            <div sec:authorize="hasRole('ROLE_ADMIN')" id="total-stats">
                <h4 th:text="${'Total number of clients: ' + clientsCount}"></h4>
            </div>
            <div id="trainer-stats">
                <h4>Total Number of trainees per trainer </h4>
                <ul th:each="row : ${session.trainersAndTrainee}">
                    <li th:text="${row.trainerFirstName + ' ' + row.trainerLastName + ': ' + row.traineesCount + ' trainees'}"></li>
                </ul>
                <a class="login-button" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/operator/admin-stats}">See More</a>
            </div>
        </div>
        <div class="feature-grid">
            <a sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')" th:href="@{/operator/add-new-client}" class="feature-item">
                <h3>Register New User</h3>
            </a>
            <a sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')" th:href="@{/operator/add-trainer}" class="feature-item">
                <h3>Add new Trainer to team</h3>
            </a>
            <a sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')" th:href="@{/operator/find-client}" class="feature-item">
                <h3>Check client</h3>
            </a>
            <a sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')" th:href="@{/operator/delete-trainer}" class="feature-item">
                <h3>Unregister trainer</h3>
            </a>
            <a sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')" href="/operator/messages/1?size=5&sortField=contactName&sortDirection=asc" class="feature-item">
                <h3>Check Messages</h3>
            </a>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}">...</div>

<script src="/assets/js/link-script.js"></script>

</body>
</html>
